body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: Cornsilk;
	font-size: 14px;
}

@media ( max-width : 479px) {
	body {
		height: 100%;
		margin-top: 0px;
		padding-top: 0px;
	}
	.background {
		position: static;
		left: 0px;
		top: 2px;
		right: 0px;
		bottom: 2px;
		height: 100%;
		margin-top: auto;
		margin-bottom: auto;
		float: none;
		/*
		background-color: #ffedc8;
			background-image: -webkit-linear-gradient(270deg, rgba(8, 168, 45, .77),
			#454d42);
		background-image: linear-gradient(180deg, rgba(8, 168, 45, .77), #454d42);
		*/
	}
}

.header {
	padding-top: 5;
	font-size: 20px;
	text-align: center;
}

.filters {
	padding-right: 10px;
	padding-left: 10px;
}

.div-block {
	height: 100%;
}

.tablecontent {
	height: 100%;
}

.mainwindow {
	max-height: 100%;
	padding-right: 5px;
	padding-left: 5px;
}

.linecontent {
	border-radius: 15px;
	height: 80%;
	clear: none;
	font-size: 12px;
	background-color: DimGray;
	padding-top: 10px;
	padding-bottom: 10px;
}

.linecontent:hover {
	height: 80%;
	clear: none;
	color: CornSilk;
	font-size: 20px;
}




.body {
	height: 100%;
	/*
	background-image: -webkit-linear-gradient(270deg, #28df37, #050404);
	background-image: linear-gradient(180deg, #28df37, #050404);
	*/
}

.filters {
	
}

.title {
	
}

.text-title {
	position: relative;
	padding-bottom: 5px;
	color: LimeGreen;
	font-size: 16px;
	text-align: center;
}

.select-field {
	padding-left: 0px;
	float: left;
	text-align: left;
}

.text-filter {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	height: 35px;
	border-radius: 15px;
	background-color: DimGray;
}

.select-filter {
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	display : none;
}

.text-field-filter {
	height:80%;
	width: 70%;
	float: left;
	font-size: 16px;
	color: CornSilk;
	background-color: DimGray;
	border-left:none;
	border-right:none;
	border-top: none;
	border-bottom: solid;
	
}

.image {
	position: relative;
	top: 0px;
	right: 0px;
	bottom: 0px;
	margin-left: 5px;
}

.resultContainer {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 80%;
	width: 100%;
}

.contentLineHeader {
	font-size: 12px;
	color: DimGray;
	text-align: center;
}

.content {
	height: 80%;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 10px;
	color: white;
}

.contentTable {
	width: 95%;
	border-spacing: 1px;
	border-color: Gainsboro ;
}

.subtitle {
	font-size: 16px;
	text-align: left;
	color: LimeGreen;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.configcontainer {
	height: 100%;
}

.section {
	height: 10%;
	padding-top: 5px;
}

.configFilterContainer {
	height: 90%;
	padding-left: 5px;
}

.text-block-2 {
	color: #fff;
	font-size: 16px;
	text-align: center;
}

.field-label {
	color: #fff;
}

.div-block-7 {
	padding-left: 15px;
}

.div-block-8 {
	padding-left: 15px;
}

.selectorContainer {
	padding-left: 15px;
	border-radius: 15px;
	background-color: DarkGrey;
}

.closeConfigButtonContainer {
	float: right;
	padding-right: 20px;
}

.aumentedDiv {
	position: fixed;
	width: 60%;
	height: 20px;
	border: 1px solid #ccc;
	background-color: #357c30;
	border: thin;
	border-color: black;
	font-size: 16px;
	display : none;
	z-index: 100;
}

.configLabel {
	color: CornSilk;
}